@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #181c22;
  color: #f9f6ee;
  font-family: 'Montserrat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

audio,
video {
  display: inline-block;
}
 
img {
  border-style: none;
}

a {
  cursor: pointer;
}

.text-sec {
  font-size: 0.825em;
}

.btn-outline {
  border: 2px solid white;
  background-color: #181c22;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
};

.btn-outline:hover {
  background-color: #f9f6ee;
  color: #181c22;
}